@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
 
}
img{
    width: 100%;
    display: block;
}
.container5{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    
	
}

.byy{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url('./pics3/mainBg.jpg') center/cover no-repeat fixed ;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background-color:#05204A;
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 1.6rem;
    margin: 0;
    display: block;
    text-align: left;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: right;
    width: 100%;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    padding: 5px 5px;
    margin: 1%;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title1{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title1 span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* design */
.design2{
    padding: 4.5rem 0;
    background-color: #E6E6FA;
	/* max-height:85vh ; */
}
.title1{
    text-align: center;
    padding: 1rem 0;
}
.title1 h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title1 p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design2-content{
    margin: 2rem 0;
}
.design2-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design2-img{
    position: relative;
    overflow: hidden;
}
.design2-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design2-img img{
    transition:  all 0.5s ease;
}
.design2-item:hover img{
    transform: scale(1.2);
}
.design2-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design2-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design2-title1{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design2-title1 a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

.banner-title1{
    animation: color 2s infinite;
}

@Keyframes color{
0%{color:#DE9B2B;}
25%{color:#008691;}
50%{color:#891D37;}
100%{color:#DE9B2B;}
}
/* blog */
.blog1{
    background: #E6E6FA;
    padding: 4.5rem 0;
}
.blog1-content{
    margin: 2rem 0;
}
.blog1-img{
    position: relative;
}
.blog1-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog1-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog1-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog1-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog1-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
    position: static;
}
.blog1-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    /* display: inline-block; */
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog1-text a:hover{
    background: var(--exDark);
}

/* about */
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}
.blog1-img img{
transition: all 0.5s ease;
height: 340px;
}
.blog1-img:hover img{
 transform: scale(1.2);
}
.hey1{
    animation: hello 3s infinite;
}
@Keyframes hello{
0%{color:#DE9B2B;}
25%{color:#008691;}
50%{color:#891D37;}
100%{color:#DE9B2B;}
}

/* footer */
footer{
    background: var(--exDark);
    color: black;
    background-color: black;
    text-align: center;
    padding: 2rem 0;
}
.social-links2{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    background: black;
}
.social-links2 a{
    border: 2px solid #fff;
    color: red;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links2 a:hover{
    background: #e20707;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    background: #e20707;
    color: var(--exDark);
    font-family: var(--Playfair);
    letter-spacing: 2px;
}


/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title1{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container5{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design2-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design2-item{
        margin: 0;
    }
    .blog1-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .blog1-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
		background-color: #FFFFF0;
    }
}

@media screen and (min-width: 1200px){
    .design2-content{
        grid-template-columns: repeat(3, 1fr);
    }
}