
.cartWrapper {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
  background-color: #E6E6FA;/* Change to auto for better responsiveness */
}

.cartContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.CartLeft,
.CartRight {
  flex: 1;
  padding: 0 10px;
      border:1px solid black;
      min-height: 100vh;

}

.cartHeader {
  height: 70px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.headerLeft {
  flex: 1;
  margin-left: 20px;
}

.headerRight {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .cartContainer {
      flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .CartLeft,
  .CartRight {
      flex: 1;
      width: 100%; /* Full width on smaller screens */
  }
}

/* Additional adjustments for larger screens if needed */
@media screen and (min-width: 1024px) {
  .CartLeft,
  .CartRight {
      min-height: 420px; /* Restore min-height for larger screens if necessary */
  }
}

.rrrrr{
    background: var(--exDark);
    color: black;
    background-color: black;
    text-align: center;
    padding: 2rem 0;
 
  }
  .social-links334{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    background-color: black;
    /* height:60vh; */
  }
  .social-links334 a{
    border: 2px solid #fff;
    color: red;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
  }
  
  .social-links334 a:hover{
    background: #e20707;
    color: var(--exDark);
  }
  .rrrrr span{
    margin-top: 1rem;
    display: block;
    /* background: #e20707; */
    color: var(--exDark);
    font-family: var(--Playfair);
    letter-spacing: 2px;
  }
  .blankCartContainer {
    height: 550px;
    margin-left: 25%;
    width: 550px;
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.blankCartContainer img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}
.cartHeading{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    
}

.cartHeading > h1{
    font-size: 28px;
    color: black;
}
